*{
    margin: 0;
}
nav {
    background-color:#FB8B24 ;
    height: 10.5vh;
}

#logo {
    height: 60px;
    padding-top: 0.60vh;
}
#mainimage {
    height: 200px;
    padding-top: 0.60vh;
    
}
